
.site-content {
  background: #fff;
  color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blog-post-wrapper {
  /*background: lightblue;*/
  margin: 60px 200px 60px 100px;
  font-family: 'Open Sans', san-serif;
  font-size: 16px;
}

.post-title {

}

.post-subtitle {

}

.post-date {

}

.post-content {

}

.hr {
  width: 100%;
  border-bottom: 1px solid #888;
}

a {
  color: #046C9A;
}

.post-index-wrapper {
  /*background: tomato;*/
  padding: 90px 0 20px 20px;
  border-left: 1px dotted #303030;
}

pre {
  padding-top: 20px;
  background: #F7F7F7;
  color: #333;
  font-size: 16px;
}

.bold-text {
  font-weight: bold;
}

.example-desc {
  color: #999;
  font-size: 0.75em;
}

.vert-line {
  background: #ccc;
  width: 1px;
}

.flex-row-space-around-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

/* <!-- for blog post index page ------ > */

.post-index-container {
  margin-top: 90px;
  font-family: 'Open Sans', san-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post-index-header {
  text-transform: uppercase;
  font-family: 'Montserrat', san-serif;
  font-size: 20px;
  border-bottom: 1px dashed #303030;
}

.post-index-body {
  /*background: lightblue;*/
  padding: 20px 0 0 25px;
}

.post-index-body li {
  /*background: tomato;*/
  margin: 10px 0 10px 0;
  list-style-type: none;
}

.post-index-body a {
  /*background: lightblue;*/
}
