
.blog-post-wrapper {
  margin: 60px 200px 60px 100px;
  font-family: 'Open Sans', san-serif;
}

.post-title {

}

.post-subtitle {

}

.post-date {

}

.post-content {

}

.hr {
  width: 100%;
  border-bottom: 1px solid #888;
}

a {
  color: #046C9A;
}
