body {
  margin: 0;
  padding: 0;
}

header {
  background: #cacaca;
  height: 75px;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  background: #fff;
  color: #303030;
}

footer {
  background: #cacaca;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.name-logo {
  /*background: lightgreen;*/
  flex: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 40px;
}

.name-logo a {
  color: #fff;
  text-decoration: none;
}

.navigation {
  /*background: tomato;*/
  flex: 1;

  display: flex;
  flow-direction: row;
  list-style-type: none;
}

.navigation li {
  padding-right: 3em;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.navigation a {
  color: #303030;
  text-decoration: none;
  padding-bottom: 10px;
}

.navigation a:hover {
  border-bottom: 2px solid #303030;
}

.footer-social-media-wrapper {
  /*background: lightblue;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-box {
  width: 2rem;
  height: 2rem;
  margin: 0 30px 0 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

a.twitter {
  color: #fff;
  background: #03b3ee;
  text-decoration: none;
}

a.twitter:hover {
  background: #028dbc;
}

a.linkedin {
  color: #fff;
  background: #0071a1;
  text-decoration: none;
}

a.linkedin:hover {
  background: #004d6e;
}

a.github {
  color: #ccc;
  background: #767676;
  text-decoration: none;
}

a.github:hover {
  background: #000;
}
